<ion-header>
  <ion-toolbar>
    <ion-title text-center color="light"> <br> contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

      <br><br><br><br>
      <ion-list>
        <ion-item href="https://twitter.com/CancunGames" >
          <ion-icon color="light" slot="start" name="logo-twitter"></ion-icon>
          <ion-text color="light"> @CancunGames </ion-text>
        </ion-item> <br>
        <ion-item href="https://www.facebook.com/CancunGames/" >
          <ion-icon color="light" slot="start" name="logo-facebook"></ion-icon>
          <ion-text color="light"> CancunGames </ion-text>
        </ion-item> <br>
        <ion-item>
          <ion-icon color="light" slot="start" name="mail"></ion-icon>
          <ion-text color="light"> contacto@cancun.games </ion-text>
        </ion-item>
      </ion-list>

</ion-content>
