.achievement-container {
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
  }

  h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2em;
    text-shadow: -1px 2px 15px rgba(0, 0, 0, 0.7);
  }

  div.item-native {
    background-color: transparent;
}

ion-input {
  --placeholder-color: #fff;
  --color: #fff;
}

  
  p {
    color: #fff;
  }

  .background{

    --background: url(../../assets/bg.jpg) 0 0/100% 100% no-repeat;
   /*
     -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
     -o-filter: blur(5px);
     -ms-filter: blur(5px);
     filter: blur(5px);*/
   
   }


h2 {
    color: #fff;
}