<ion-header>
  <ion-toolbar color="danger">
      <br>
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div *ngIf="displayAchievement" class="achievement-container" @container>

        <div class="medal"  @badge>
            <img src="../../assets/medal.png" />
        </div>

        <div class="message" @message>
          <h5>Ya eres parte de CancunGames</h5>
        </div>

    </div>
    <br> <br>
    <ion-button shape="round" expand="block" (click)="signInWithFacebook()"> 
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Login with facebook 
    </ion-button>
    <br>
    <div *ngIf="databoolean">
      <h2 text-center color="light">Completa tu registro:</h2>
      <br>
      <ion-item>
        <ion-label color="light"> Edad </ion-label>
        <ion-input required type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Estatura </ion-label>
          <ion-input placeholder="cm" required type="number" [(ngModel)]="estatura"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Peso </ion-label>
          <ion-input placeholder="kg" required type="number" [(ngModel)]="peso"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label color="light"> Box </ion-label>
          <ion-input required type="text" [(ngModel)]="box"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Division </ion-label>
          <ion-input required type="text" [(ngModel)]="division"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Telefono </ion-label>
          <ion-input required type="number" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      
      <br>
      <h2 text-center color="light">Records (lbs):</h2>

      <ion-item>
          <ion-label color="light"> Back squat </ion-label>
          <ion-input required type="number" [(ngModel)]="backSquat"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Clean and Jerk </ion-label>
          <ion-input required type="number" [(ngModel)]="cleanJerk"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Snatch </ion-label>
          <ion-input required type="number" [(ngModel)]="snatch"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light"> Deadlift </ion-label>
          <ion-input required type="number" [(ngModel)]="deadlift"></ion-input>
      </ion-item>

      <ion-button color="danger" shape="round" expand="block" (click)="completeRegister()"> 
          Completar perfil
      </ion-button>

    </div>

    <div *ngIf="registerComplete">
            <h2 text-center color="light">Ultimo Paso:</h2>
            <br>
        <ion-button color="danger" shape="round" expand="block" (click)="selectPhoto(1)"> 
                    Elegir foto de Perfil
        </ion-button>
        <ion-button color="danger" shape="round" expand="block" (click)="selectPhoto(2)"> 
                Elegir foto de Portada
        </ion-button>
    </div>
    <div *ngIf="finish">
            <h2 text-center color="light">Listo !!!:</h2>
            <br>
            <ion-button color="danger" shape="round" expand="block" (click)="endProcess()"> 
                    Disfrutar de CancunGames
            </ion-button>
    </div>

</ion-content>
