<ion-header>
  <ion-toolbar>
    <br>
    <ion-title color="light" text-center>resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
   <ion-text color="light" ><h3 text-center>KIDS</h3></ion-text> 

    <ion-item color="transparent" href="/wod/1">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS WOD 1</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/2">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS WOD 2</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/3">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS WOD 3</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/4">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS WOD 4</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/5">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS WOD 5</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/posciciones/1">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS FINAL</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-text color="light" ><h3 text-center>TEENS</h3></ion-text> 

    <ion-item color="transparent" href="/wod/6">
      <ion-icon color="light" slot="start" name="headset"></ion-icon>
      <ion-label color="light">TEENS WOD 1</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/7">
      <ion-icon color="light" slot="start" name="headset"></ion-icon>
      <ion-label color="light">TEENS WOD 2</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/8">
      <ion-icon color="light" slot="start" name="headset"></ion-icon>
      <ion-label color="light">TEENS WOD 3</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/9">
      <ion-icon color="light" slot="start" name="headset"></ion-icon>
      <ion-label color="light">TEENS WOD 4</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/10">
      <ion-icon color="light" slot="start" name="headset"></ion-icon>
      <ion-label color="light">TEENS WOD 5</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/2" color="transparent">
      <ion-icon color="light" slot="start" name="headset"></ion-icon>
      <ion-label color="light">TEENS FINAL</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-text color="light" ><h3 text-center>PRINCIPIANTES</h3></ion-text> 

    <ion-item color="transparent" href="/wod/11">
      <ion-icon color="light" slot="start" name="body"></ion-icon>
      <ion-label color="light">PRINCIPIANTES WOD 1</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/12">
      <ion-icon color="light" slot="start" name="body"></ion-icon>
      <ion-label color="light">PRINCIPIANTES WOD 2</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/13">
      <ion-icon color="light" slot="start" name="body"></ion-icon>
      <ion-label color="light">PRINCIPIANTES WOD 3</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/14">
      <ion-icon color="light" slot="start" name="body"></ion-icon>
      <ion-label color="light">PRINCIPIANTES WOD 4</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/15">
      <ion-icon color="light" slot="start" name="body"></ion-icon>
      <ion-label color="light">PRINCIPIANTES WOD 5</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/3" color="transparent">
      <ion-icon color="light" slot="start" name="body"></ion-icon>
      <ion-label color="light">PRINCIPIANTES FINAL</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-text color="light" ><h3 text-center>INTERMEDIOS</h3></ion-text> 

    <ion-item color="transparent" href="/wod/16">
      <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
      <ion-label color="light">INTERMEDIOS WOD 1</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/17">
      <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
      <ion-label color="light">INTERMEDIOS WOD 2</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/18">
      <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
      <ion-label color="light">INTERMEDIOS WOD 3</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/19">
      <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
      <ion-label color="light">INTERMEDIOS WOD 4</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/20">
      <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
      <ion-label color="light">INTERMEDIOS WOD 5</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/4" color="transparent">
      <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
      <ion-label color="light">INTERMEDIOS FINAL</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-text color="light" ><h3 text-center>MASTER</h3></ion-text> 

    <ion-item color="transparent" href="/wod/21">
      <ion-icon color="light" slot="start" name="medal"></ion-icon>
      <ion-label color="light">MASTER WOD 1</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/22">
      <ion-icon color="light" slot="start" name="medal"></ion-icon>
      <ion-label color="light">MASTER WOD 2</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/23">
      <ion-icon color="light" slot="start" name="medal"></ion-icon>
      <ion-label color="light">MASTER WOD 3</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/24">
      <ion-icon color="light" slot="start" name="medal"></ion-icon>
      <ion-label color="light">MASTER WOD 4</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/25">
      <ion-icon color="light" slot="start" name="medal"></ion-icon>
      <ion-label color="light">MASTER WOD 5</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    
    <ion-item href="/posciciones/5" color="transparent">
      <ion-icon color="light" slot="start" name="medal"></ion-icon>
      <ion-label color="light">MASTER FINAL</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-text color="light" ><h3 text-center>RX</h3></ion-text> 

    <ion-item color="transparent" href="/wod/26">
      <ion-icon color="light" slot="start" name="fitness"></ion-icon>
      <ion-label color="light">RX WOD 1</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/27">
      <ion-icon color="light" slot="start" name="fitness"></ion-icon>
      <ion-label color="light">RX WOD 2</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/28">
      <ion-icon color="light" slot="start" name="fitness"></ion-icon>
      <ion-label color="light">RX WOD 3</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/29">
      <ion-icon color="light" slot="start" name="fitness"></ion-icon>
      <ion-label color="light">RX WOD 4</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item color="transparent" href="/wod/30">
      <ion-icon color="light" slot="start" name="fitness"></ion-icon>
      <ion-label color="light">RX WOD 5</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/6" color="transparent">
      <ion-icon color="light" slot="start" name="fitness"></ion-icon>
      <ion-label color="light">RX FINAL</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

</ion-content>
