<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title color="light" text-center>resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item href="/posciciones/1">
      <ion-icon color="light" slot="start" name="egg"></ion-icon>
      <ion-label color="light">KIDS</ion-label>
      <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/2">
        <ion-icon color="light" slot="start" name="headset"></ion-icon>
        <ion-label color="light">TEENS</ion-label>
        <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/3">
        <ion-icon color="light" slot="start" name="body"></ion-icon>
        <ion-label color="light">PRINCIPIANTES</ion-label>
        <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/4">
        <ion-icon color="light" slot="start" name="bonfire"></ion-icon>
        <ion-label color="light">INTERMEDIOS</ion-label>
        <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/5">
        <ion-icon color="light" slot="start" name="medal"></ion-icon>
        <ion-label color="light">MASTER</ion-label>
        <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/6">
        <ion-icon color="light" slot="start" name="fitness"></ion-icon>
        <ion-label color="light">RX</ion-label>
        <ion-icon color="light" slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
