<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item href="/posciciones/1">
      <ion-icon slot="start" name="egg"></ion-icon>
      <ion-label>KIDS</ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/2">
        <ion-icon slot="start" name="headset"></ion-icon>
        <ion-label>TEENS</ion-label>
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/3">
        <ion-icon slot="start" name="body"></ion-icon>
        <ion-label>PRINCIPIANTES</ion-label>
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/4">
        <ion-icon slot="start" name="bonfire"></ion-icon>
        <ion-label>INTERMEDIOS</ion-label>
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/5">
        <ion-icon slot="start" name="medal"></ion-icon>
        <ion-label>MASTER</ion-label>
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item href="/posciciones/6">
        <ion-icon slot="start" name="fitness"></ion-icon>
        <ion-label>RX</ion-label>
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
