<ion-header>
  <ion-toolbar>
      <br> 
    <ion-title text-center color="light">
      Resultados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <br> <br>
    <ion-grid>
      <ion-row>
        <ion-col size="2.9" >
        </ion-col>
        <ion-col size = 6>
            <img  class="adjustedImage" [src]="US.user.profileImg">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href=""> 
            wod1: {{US.user.wod1}}
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href=""> 
            wod2: {{US.user.wod2}}
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href=""> 
            wod3: {{US.user.wod3}}
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href=""> 
            wod4: {{US.user.wod4}}
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href=""> 
            wod5: {{US.user.wod5}}
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href=""> 
            total puntos: {{US.user.totalpts}}
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>

</ion-content>
