<ion-header>
  <ion-toolbar>
    <br>
    <ion-title text-center color="light">Resultados de Wod</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="color background">

  <ion-list >
    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <b><ion-text color="light">#</ion-text></b>
          </ion-col>
          <!--<ion-col size="3"> 
            <b>Foto</b>
         </ion-col>-->
          <ion-col size="4">
            <b><ion-icon name="person" color="light"></ion-icon></b>
          </ion-col>
          <ion-col size="2">
            <b><ion-icon name="sync" color="light"></ion-icon></b>
          </ion-col>
          <ion-col size="2">
            <b><ion-icon name="time" color="light"></ion-icon></b>
          </ion-col>
          <ion-col size="2">
            <b><ion-icon name="podium" color="light"></ion-icon></b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let pos of PS.wod">
  
      <!--1er Lugar-->
      <ion-item *ngIf="pos.fields.Lugar === 1" color="success" >
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                {{pos.fields.Lugar}}.
              </ion-col>
            <!-- 
              <ion-col size="3">
                <ion-chip>
                  <ion-avatar>
                    <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
                  </ion-avatar>
                </ion-chip>
              </ion-col> -->
              <ion-col size="4">
                {{pos.fields.Nombre}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Reps}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Tiempo}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Puntos}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
         <!--2do Lugar-->
         <ion-item *ngIf="pos.fields.Lugar === 2" color="warning" >
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                {{pos.fields.Lugar}}.
              </ion-col>
            <!-- 
              <ion-col size="3">
                <ion-chip>
                  <ion-avatar>
                    <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
                  </ion-avatar>
                </ion-chip>
              </ion-col> -->
              <ion-col size="4">
                {{pos.fields.Nombre}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Reps}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Tiempo}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Puntos}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
         <!--3er Lugar-->
         <ion-item *ngIf="pos.fields.Lugar === 3" color="danger" >
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                {{pos.fields.Lugar}}.
              </ion-col>
            <!-- 
              <ion-col size="3">
                <ion-chip>
                  <ion-avatar>
                    <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
                  </ion-avatar>
                </ion-chip>
              </ion-col> -->
              <ion-col size="4">
                {{pos.fields.Nombre}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Reps}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Tiempo}}
              </ion-col>
              <ion-col size="2">
                {{pos.fields.Puntos}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    <!--Posiciones normales-->
    <ion-item *ngIf="pos.fields.Lugar > 3" color="medium" >
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            {{pos.fields.Lugar}}.
          </ion-col>
        <!-- 
          <ion-col size="3">
            <ion-chip>
              <ion-avatar>
                <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
              </ion-avatar>
            </ion-chip>
          </ion-col> -->
          <ion-col size="4">
            {{pos.fields.Nombre}}
          </ion-col>
          <ion-col size="2">
            {{pos.fields.Reps}}
          </ion-col>
          <ion-col size="2">
            {{pos.fields.Tiempo}}
          </ion-col>
          <ion-col size="2">
            {{pos.fields.Puntos}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


  </ion-list>

</ion-content>

