<ion-header>
  <ion-toolbar>
      <br> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center color="light">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div *ngIf="boolusr">
    <br> <br>
    <ion-grid>
      <ion-row>
        <ion-col size="2.9" >
        </ion-col>
        <ion-col size = 6>
            <img  class="adjustedImage" [src]="usuario.profileImg">
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <ion-text color="light">
      <h3 text-center>{{usuario.nombre}}</h3>
    </ion-text>
    <br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href="/perfil"> 
            PERFIL
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button class="butons" shape="round" color="danger"  href="/benchmark"> 
            BENCHMARK
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button class="butons" shape="round" color="danger"  href="/tabs"> 
            LEADER BOARD
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button text-center class="butons" shape="round" color="danger"  href="/list"> 
            RESULTADOS PERSONALES
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>  
    </ion-grid>
  </div>

</ion-content>
